# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Streamlit cache directory
.streamlit/secrets.toml

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Environment variables
.env
*.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE and editor-specific files
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Firebase key
firebase_key.json
